In [ ]:
import io 
import pandas as pd

from google.colab import files 
upload=files.upload()#opens window to upload files (choose file)

df1=pd.read_csv(io.BytesIO(upload['country_vaccinations_by_manufacturer.csv'])) #لو بعد التعديل بدي أرفعه بعمل export

Saving country_vaccinations_by_manufacturer.csv to country_vaccinations_by_manufacturer (1).csv

In [ ]:
df1[]

             location        date             vaccine  total_vaccinations
0             Austria  2021-01-08     Johnson&Johnson                   0
1             Austria  2021-01-08             Moderna                   0
2             Austria  2021-01-08  Oxford/AstraZeneca                   0
3             Austria  2021-01-08     Pfizer/BioNTech               31202
4             Austria  2021-01-15     Johnson&Johnson                   0
...               ...         ...                 ...                 ...
18949  European Union  2021-10-22  Oxford/AstraZeneca            67183432
18950  European Union  2021-10-22     Pfizer/BioNTech           410735447
18951  European Union  2021-10-22   Sinopharm/Beijing             2114145
18952  European Union  2021-10-22             Sinovac                   9
18953  European Union  2021-10-22           Sputnik V             1843735

[18954 rows x 4 columns]

In [ ]:
df1.loc[7,'total_vaccinations']
avg1=df1['total_vaccinations'].mean()
sum1=df1['total_vaccinations'].sum()
max1=df1['total_vaccinations'].max()
min1=df1['total_vaccinations'].min()

print('total_vaccinations',sum1)
print('average',avg1)
print('maximum',max1)
print('Minimum',min1)

total_vaccinations 213406447120
average 11259177.330378812
maximum 410735447
Minimum 0

In [ ]:
# df1.head()
df1.tail(22)

             location        date             vaccine  total_vaccinations
18932  European Union  2021-10-19           Sputnik V             1843550
18933  European Union  2021-10-20     Johnson&Johnson            15326481
18934  European Union  2021-10-20             Moderna            58549408
18935  European Union  2021-10-20  Oxford/AstraZeneca            67180031
18936  European Union  2021-10-20     Pfizer/BioNTech           409684733
18937  European Union  2021-10-20   Sinopharm/Beijing             2112780
18938  European Union  2021-10-20             Sinovac                   9
18939  European Union  2021-10-20           Sputnik V             1843550
18940  European Union  2021-10-21     Johnson&Johnson            15363928
18941  European Union  2021-10-21             Moderna            58595421
18942  European Union  2021-10-21  Oxford/AstraZeneca            67180617
18943  European Union  2021-10-21     Pfizer/BioNTech           410259662
18944  European Union  2021-10-21   Sinopharm/Beijing             2112780
18945  European Union  2021-10-21             Sinovac                   9
18946  European Union  2021-10-21           Sputnik V             1843550
18947  European Union  2021-10-22     Johnson&Johnson            15410601
18948  European Union  2021-10-22             Moderna            58641245
18949  European Union  2021-10-22  Oxford/AstraZeneca            67183432
18950  European Union  2021-10-22     Pfizer/BioNTech           410735447
18951  European Union  2021-10-22   Sinopharm/Beijing             2114145
18952  European Union  2021-10-22             Sinovac                   9
18953  European Union  2021-10-22           Sputnik V             1843735

In [ ]:
import numpy as np 
pd.DataFrame(np.random.rand(10,5))

          0         1         2         3         4
0  0.578211  0.411739  0.958072  0.450193  0.098582
1  0.728137  0.320244  0.171066  0.257823  0.427265
2  0.107129  0.208569  0.793986  0.249982  0.107140
3  0.935211  0.371620  0.265090  0.255963  0.177588
4  0.324555  0.400797  0.788426  0.572779  0.137676
5  0.598668  0.833569  0.921625  0.379839  0.751516
6  0.238970  0.682289  0.120764  0.153985  0.616085
7  0.253082  0.203104  0.387519  0.002410  0.039553
8  0.702901  0.951366  0.941758  0.163562  0.167608
9  0.440719  0.185570  0.684005  0.577234  0.177176

In [ ]:
list=[4,8,5,3,0,10,8]
pd.Series((list))
df1.value_counts()

location  date        vaccine             total_vaccinations
Uruguay   2021-10-22  Sinovac             3246190               1
France    2021-03-08  Oxford/AstraZeneca  822036                1
          2021-03-09  Moderna             303267                1
                      Oxford/AstraZeneca  900789                1
                      Pfizer/BioNTech     5214156               1
                                                               ..
Latvia    2021-08-26  Pfizer/BioNTech     852744                1
          2021-08-27  Johnson&Johnson     109406                1
                      Moderna             232491                1
                      Oxford/AstraZeneca  262065                1
Austria   2021-01-08  Johnson&Johnson     0                     1
Length: 18954, dtype: int64

In [ ]:
import io 
import pandas as pd

from google.colab import files 
upload=files.upload()#opens window to upload files (choose file)

df2=pd.read_csv(io.BytesIO(upload['covid_19_india.csv'])) #لو بعد التعديل بدي أرفعه بعمل export

Saving covid_19_india.csv to covid_19_india (1).csv

In [ ]:
df2

         Sno        Date     Time  ...    Cured Deaths Confirmed
0          1  2020-01-30  6:00 PM  ...        0      0         1
1          2  2020-01-31  6:00 PM  ...        0      0         1
2          3  2020-02-01  6:00 PM  ...        0      0         2
3          4  2020-02-02  6:00 PM  ...        0      0         3
4          5  2020-02-03  6:00 PM  ...        0      0         3
...      ...         ...      ...  ...      ...    ...       ...
18105  18106  2021-08-11  8:00 AM  ...   638410   3831    650353
18106  18107  2021-08-11  8:00 AM  ...    77811    773     80660
18107  18108  2021-08-11  8:00 AM  ...   334650   7368    342462
18108  18109  2021-08-11  8:00 AM  ...  1685492  22775   1708812
18109  18110  2021-08-11  8:00 AM  ...  1506532  18252   1534999

[18110 rows x 9 columns]

In [ ]:
avg1=df2['Deaths'].mean()
sum1=df2['Deaths'].sum()
max1=df2['Deaths'].max()
min1=df2['Deaths'].min()

avg2=df2['Cured'].mean()
sum2=df2['Cured'].sum()
max2=df2['Cured'].max()
min2=df2['Cured'].min()


avg3=df2['Confirmed'].mean()
sum3=df2['Confirmed'].sum()
max3=df2['Confirmed'].max()
min3=df2['Confirmed'].min()
print ('Deathes_avg','Cured Avg','Confirmed_avg')
print(avg1,avg2,avg3)

Deathes_avg Cured Avg Confirmed_avg
4052.402263942573 278637.5180563225 301031.40182219766

In [ ]:
import io 
import pandas as pd

from google.colab import files 
upload=files.upload()#opens window to upload files (choose file)

df3=pd.read_csv(io.BytesIO(upload['StatewiseTestingDetails.csv'])) #لو بعد التعديل بدي أرفعه بعمل export

Saving StatewiseTestingDetails.csv to StatewiseTestingDetails.csv

In [ ]:
# for i in range(len(df3['Date'])):
#   if df3.loc[i,'Negative'] is None:
#     df3.loc[i,'Negative']='NOT DETERMINED'
df3 = df3.fillna(value='not found')# بس لازم أشيك اذا null او لا

df3.Positive.fillna(00000, inplace=True)

In [ ]:
df3['Positive'].replace(12, 44, inplace=True)
df3
average=df3['TotalSamples'].mean()
sum=df3['TotalSamples'].sum()
max_l=df3['TotalSamples'].max()

df3.iloc[0]
# max_l

Date                             2020-04-17
State           Andaman and Nicobar Islands
TotalSamples                           1403
Negative                               1210
Positive                                 44
Name: 0, dtype: object

In [ ]:
df3.mean()

TotalSamples    5.376466e+06
dtype: float64